@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
body {
  background-image: url("https://wallpaperaccess.com/full/2195697.jpg");
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.view {
  margin: 4%;
}
.login-form {
  background: white;
  margin: auto;
  padding: 50px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  width: 300px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
label {
  color: #4d4d4d;
  font-size: 18px;
}
input {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 15px;
  background-color: #000080;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
a {
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #000080;
}
